@{
    ViewData["Title"] = "IndexAfterLogin";
}


@model List<Entities.Product>  //This tells the view that the model will be a list of Product objects

@{
    ViewData["Title"] = "Home Page";

}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>

<h1>Welcome to Gamers Castle</h1>
<h3>Our Products</h3>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("ViewCart", "Cart")">My Cart</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("MyOrders", "Order")">My Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-danger text-white" href="@Url.Action("Login", "User")">Logout</a>
        </li>
    </ul>
</div>

<div class="product-list">
    @foreach (var product in Model)
    {
        <div class="product-item">

            <img src="@product.ImageUrl" alt="@product.ProductName" class="product-image" />


            <h4>@product.ProductName</h4>


            <p>@product.Description</p>

            <p><strong>Price: </strong>@product.Price</p>
          
            <label for="quantity-@product.ProductId">Quantity:</label>
            <input type="number" id="quantity-@product.ProductId" name="quantity-@product.ProductId" min="1" max="@product.Stock" value="1" />


            <a href="@Url.Action("BuyNow", "Product", new { productId = product.ProductId })" class="btn btn-primary">
                Buy Now
            </a>
            <a href="@Url.Action("AddToCart", "Cart", new { productId = product.ProductId, quantity = 1 })" class="btn btn-primary">
                Add to Cart
            </a>
        </div>
    }
</div>
